*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  height: 100vh;
}

 

.navbg{
  background-color: #0A0A23;
}

.onHoverBtn :hover {
  color: black;
  background-color: white;
}

.myfont { 
font-family: 'Sometype Mono', monospace; 
}


